body {
    background-image: url(spaceimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(241, 242, 247);
    text-align: center;
}
img{
    mix-blend-mode: overlay;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    }
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: center;
    color: #09dbf7;
    text-align: center;
    padding: 50px 50px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: rgb(37, 124, 98);
    color: black;
  }
  
  .topnav a.active {
    background-color: #cc14a4;
    color: white;
  }
  p {
    color: rgb(238, 89, 3);
    text-emphasis: bold;
    
  }